@model IEnumerable<PlayListStore.Models.SongModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@Html.ActionLink("Create new song", "Create")
<br/>
<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Titel</th>
            <th>Singer</th>
            <th>Year</th>
            <th>Writer</th>
            <th>Genre</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Singer)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Year)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Writer)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GenreName)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit")
                </td>
                <td>
                    @Html.ActionLink("Delete", "Delete")
                </td>
            </tr>
        }
    </tbody>
</table>